<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853957904487-sp19a2jjcie8u451gpn66rjft0j2oail.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853957904487-sp19a2jjcie8u451gpn66rjft0j2oail</string>
	<key>API_KEY</key>
	<string>AIzaSyAIT0tesi--Tj9gCBPNYbRBURP0a-dem2w</string>
	<key>GCM_SENDER_ID</key>
	<string>853957904487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Recipix</string>
	<key>PROJECT_ID</key>
	<string>recipix-fd6a5</string>
	<key>STORAGE_BUCKET</key>
	<string>recipix-fd6a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853957904487:ios:cfabbd312036f28a49ecc2</string>
	<key>DATABASE_URL</key>
	<string>https://recipix-fd6a5.firebaseio.com</string>
</dict>
</plist>